body{
    font-family: 'EB Garamond';
}
.btn{
    width:250px;
    height:50px;
    background-color: rgb(77, 171, 248);
    border-radius: 5%;
    border-top:grey 1px solid;
    border-left:grey 1px solid;
}
.btn:hover{
    background-color: rgb(142, 255, 142);
    border-top:grey 1px solid;
    border-left:grey 1px solid;
}
